* {
  box-sizing: border-box;
}

body {
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #2c3e50;
  background: #354f68;
}

.btn {
  color: #42b983;
  position: relative;
  place-content: center;
  place-items: center;
  width: fit-content;
  border-radius: 99px;
  letter-spacing: 0.05em;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all 0.22s;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 1 !important;
  background: #eee !important;
  border-color: #ddd !important;
  color: #999 !important;
}

.btn:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn.primary {
  background: #42b983;
  color: #fff;
}

.btn.danger {
  background: #e53935;
  color: #fff;
  border-color: #e53935;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.container.with-nav {
  margin-top: 70px;
}

.form-control input,
.form-control select,
.form-control textarea {
  font-family: Inter, Roboto, Oxygen, Fira Sans, Helvetica Neue, sans-serif;
  margin: 8px 0;
  outline: none;
  border: 2px solid #ccc;
  display: block;
  width: 100%;
  color: #2c3e50;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  font-size: 1rem;
  resize: none;
}

.form-control label {
  display: block;
  margin: 0 0 0.3rem 0.3rem;
  font-weight: 500;
}

.form-control input:active,
.form-control input:focus {
  transition: border 0.22s;
  border: 2px solid #42b983;
}

.card {
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.alert {
  padding: 1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.alert.primary {
  border-color: #42b983;
  background-color: #f8f8f8;
}

.alert.danger {
  border-color: #e53935;
  background-color: #f8f8f8;
}

.alert p {
  color: #222;
  line-height: 1.7;
}

.alert-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: -0.4rem;
  color: #222;
}

.alert-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.form {
  background-color: white;
  padding: 15px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 8px;
}

.form-control small {
  color: #e53935;
}

.form-control.invalid input {
  border-color: #e53935;
}

.navbar {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #eaecef;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-right: 2rem;
}

.navbar-menu li a {
  color: #2c3e50;
  text-decoration: none;
}

.navbar-menu li a:hover,
.navbar-menu li a.active {
  border-bottom: 2px solid #3eaf7c;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  padding: 0.5rem 1rem;
}

.table td {
  padding: 0.5rem 1rem;
}

.table tbody td {
  text-align: center;
}

.table tbody tr {
  border-top: 1px solid rgb(100, 85, 85);
}

.table tbody tr:hover {
  background: #eee;
}

.current-page {
  background-color: #3eaf7c;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}
.page {
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #354f68;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.page:not(:first-child) {
  margin-left: 5px;
}
.page:first-child {
  border-radius: 10px 0 0 10px;
}
.page:last-child {
  border-radius: 0 10px 10px 0;
}
.page:hover {
  cursor: pointer;
}
